[submodule "redhat"]
	path = redhat
	url = https://github.com/varnish/varnish-cache-redhat
	branch = master
[submodule "debian"]
	path = debian
	url = https://github.com/varnish/varnish-cache-debian
	branch = 4.1
