Source: varnish
Section: web
Priority: optional
Maintainer: Varnish Software <opensource@varnish-software.com>
Build-Depends:
 debhelper (>= 9),
 debhelper (>= 9.20160709) | dh-systemd,
 libedit-dev,
 libjemalloc-dev,
 libncurses-dev,
 libpcre3-dev,
 pkg-config,
 python3-docutils,
 python3-sphinx,
Vcs-Git:  git://github.com/varnishcache/pkg-varnish-cache.git
Homepage: https://www.varnish-cache.org/
Standards-Version: 3.9.6

Package: varnish
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 adduser,
 gcc,
 libc6-dev | libc6.1-dev | libc-dev,
Provides:
 libvarnishapi1,
 ${varnishd:ABI},
 ${varnishd:VRT},
Suggests: varnish-dev
Replaces:
 libvarnishapi1,
 varnish-dbg,
 varnish-doc
Conflicts:
 libvarnishapi1,
 varnish-dbg,
 varnish-doc
Description: state of the art, high-performance web accelerator
 Varnish Cache is a state of the art web accelerator written with
 performance and flexibility in mind.
 .
 Varnish Cache stores web pages in memory so web servers don't have to
 create the same web page over and over again. Varnish serves pages
 much faster than any application server; giving the website a
 significant speed up.
 .
 Some of the features include:
  * A modern design
  * VCL - a very flexible configuration language
  * Load balancing with health checking of backends
  * Partial support for ESI - Edge Side Includes
  * URL rewriting
  * Graceful handling of "dead" backends

Package: varnish-dev
Section: libdevel
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 varnish (= ${binary:Version}),
 pkg-config,
 python3 (>= 3.4),
Provides:
 libvarnish-dev,
 libvarnishapi-dev
Replaces:
 libvarnish-dev,
 libvarnishapi-dev
Conflicts:
 libvarnish-dev,
 libvarnishapi-dev
Description: development files for Varnish Cache
 Development files for Varnish Cache HTTP accelerator.
