Source: varnish
Section: web
Priority: optional
Maintainer: Varnish Software <opensource@varnish-software.com>
Build-Depends:
 automake,
 autotools-dev,
 debhelper (>= 9),
 libedit-dev,
 libjemalloc-dev,
 libncurses-dev,
 libpcre3-dev,
 libtool,
 pkg-config,
 python-docutils,
 python-sphinx
Vcs-Git:  git://github.com/varnishcache/pkg-varnish-cache.git
Homepage: https://www.varnish-cache.org/
Standards-Version: 3.9.6

Package: varnish
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 adduser,
 gcc,
 libc6-dev | libc6.1-dev | libc-dev,
 libvarnishapi1 (= ${binary:Version})
Provides: varnish, varnish-doc, ${Varnish:ABI}, ${Varnish:strictABI}
Description: state of the art, high-performance web accelerator
 Varnish Cache is a state of the art web accelerator written with
 performance and flexibility in mind.
 .
 Varnish Cache stores web pages in memory so web servers don't have to
 create the same web page over and over again. Varnish serves pages
 much faster than any application server; giving the website a
 significant speed up.
 .
 Some of the features include:
  * A modern design
  * VCL - a very flexible configuration language
  * Load balancing with health checking of backends
  * Partial support for ESI - Edge Side Includes
  * URL rewriting
  * Graceful handling of "dead" backends

Package: libvarnishapi1
Section: libs
Architecture: any
Provides: libvarnish1
Conflicts: libvarnish1
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: shared libraries for Varnish
 Shared libraries for Varnish Cache HTTP accelerator.

Package: libvarnishapi-dev
Section: libdevel
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libvarnishapi1 (= ${binary:Version}),
 pkg-config,
 python
Provides: libvarnish-dev
Conflicts: libvarnish-dev
Description: development files for Varnish
 Development files for Varnish Cache HTTP accelerator.

Package: varnish-dbg
Section: debug
Priority: extra
Architecture: any
Depends:
 varnish (= ${binary:Version}),
 ${misc:Depends}
Description: debugging symbols for varnish
 This package contains the detached debugging symbols for Varnish Cache.
 .
 Varnish Cache is a state of the art web accelerator written with
 performance and flexibility in mind.
