[Unit]
Description=Varnish Cache, a high-performance HTTP accelerator

[Service]
Type=forking
EnvironmentFile=-/etc/default/varnish
LimitNOFILE=${NFILES:-131072}
LimitMEMLOCK=${MEMLOCK:-82000}
ExecStart=/usr/sbin/varnishd $DAEMON_OPTS
ExecReload=/usr/share/varnish/reload-vcl

[Install]
WantedBy=multi-user.target
