[Unit]
Description=Varnish HTTP accelerator log daemon
After=varnish.service

[Service]
User=varnishlog
ExecStart=/usr/bin/varnishlog -a -w /var/log/varnish/varnish.log
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
