[Unit]
Description=Varnish Cache HTTP accelerator NCSA daemon
After=varnish.service

[Service]
User=varnishlog
Group=varnish
ExecStart=/usr/bin/varnishncsa -a -w /var/log/varnish/varnishncsa.log
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
